.calculatrice{
    width: 300px;
    height: 363px;
    border: 2px solid black;
}

.ecranCalc{
    height: 100px;
    border: 1px solid black;
}

.pad{
    border: 1px solid black;
}

.boutonPad{
    height: 65px;
    text-align: center;
    border: 1px solid black;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}